
<div class="page page-contact page-down">
    <div class="contactmap-container">
        <map class="ui-map" zoom="14" center="[25.076328, -77.323565]" scrollwheel="false">
            <marker position="[25.076328, -77.323565]" title="marker" animation="Animation.DROP"></marker>
        </map>
    </div>

    <div class="contact-info-container clearfix">
        <ul class="contact-info">
            <li><i class="fa fa-map-marker"></i><span>Nassau, Bahamas</span></li>
            <li><i class="fa fa-phone"></i><span>1 (242) 000-0000</span></li>
            <li><i class="fa fa-envelope-o"></i><span><a href="mailto:jerezb31@gmail.com">jerezb31@gmail.com</a></span></li>
        </ul>
    </div>
    

    <div class="social-item-container">
        <div class="row">
            <div class="col-md-3 col-xsm-6 social-item text-center"><a href="javascript:;" class="btn btn-facebook btn-metro"><i class="fa fa-facebook"></i></a></div>
            <div class="col-md-3 col-xsm-6 social-item text-center"><a href="javascript:;" class="btn btn-twitter btn-metro"><i class="fa fa-twitter"></i></a></div>
            <div class="col-md-3 col-xsm-6 social-item text-center"><a href="javascript:;" class="btn btn-gplus btn-metro"><i class="fa fa-google-plus"></i></a></div>
            <div class="col-md-3 col-xsm-6 social-item text-center"><a href="javascript:;" class="btn btn-instagram btn-metro"><i class="fa fa-instagram"></i></a></div>
        </div>
    </div>

</div>
